<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link href="../css/main.css" rel="stylesheet">
    <link href="../css/default.css" rel="stylesheet">
</head>
<body>
			<div class="AccountManagement_c " id="AccountManagement_c">
                <h3>账户管理 
                    <div class="amcl fr">
                        <input type="text" placeholder="用户名" class="fl" name="">
                        <div class="search fl"><img src="../images/search.png"></div>
                    </div> 
                </h3>
                <div class="AM_ct text_center">
                    <div class="AM_ct_in">
                        <div class="add_btn df_btn fl" id="add_Account_btn">添加</div>
                        <div class="edit_btn df_btn fl" id="edit_Account_btn">编辑</div>
                        <div class="delete_btn df_btn fl" id="delete_Account_btn">删除</div>
                        <div class="fr df_btn ac_btn" id="ac_Account_btn">账号授权</div>
                    </div>
                </div>

                <div class="list">
                    <ul class="list_h">
                        <li class="b20"><label><input type="checkbox" name=""><span>用户名</span></label></li>
                        <li class="b20"><label>密码</label></li>
                        <li class="b60"><label>授权形式</label></li>
                    </ul>
                    <div class="list_b_c">
                        <ul class="list_null" th:if="${#lists.isEmpty(objs)}">
                            <li class="text_center">未添加管理员账户！</li>
                        </ul>
                        <input type="hidden" id="user_id_edit">
                        <input type="hidden" id="user_name_edit">
                        <ul class="list_b" th:each="obj : ${objs}" th:name="${obj.id}">
                            <li class="b20"><label><input type="hidden"  class="user_id" th:value="${obj.id}"><input type="checkbox" class="account_change" name=""><span class="account_name" th:text="${obj.userName}"></span></label></li>
                            <li class="b20"><label>****</label></li>
                            <li class="b60"><label th:each="cus:${obj.cus}" th:text="${cus.classifyName}"></label></li>
                        </ul>
                    </div>

                    <div class="pull_page" th:utext="${gotoPageStaticHTML}">

                        <!--<div class="fl pull_page_up">上一页</div>
                            <ul>
                                <li class="on">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li class="pull_page_df_btn">…</li>
                                <li>12</li>
                            </ul>
                        <div class="fl pull_page_down">下一页</div>-->
                    </div>


                </div>
            </div>

            <!-- 弹窗 -->
    <!-- 添加账户 -->
    <div class="add_Account dn" id="add_Account">
        <div class="add_Account_c">
            <div class="add_Account_h">
                <div class="add_Account_h_in">
                    添加账户
                    <span class="fr add_Account_close"><img src="../images/close.png"></span>
                </div>
            </div>
            <form th:action="@{${webPath}+'/add_user.htm'}" method="post">
                <div class="user_name user_i">
                    <label>用户名</label> <input type="text" placeholder="输入用户名" value=" " name="userName" id="add_userName"><span style="color: red" id="add_userName_prompt"></span>
                </div>
                <div class="user_password user_i">
                    <label>密<i>调</i>码</label> <input type="password" placeholder="输入密码" value="" name="password" id="add_password"><span style="color: red" id="add_password_prompt"></span>
                </div>
                <input type="submit" style="display: none" id="add_submit">
                <div class="add_Account_ok_btn text_center" id="add_Account_ok_btn">确<i>皮</i>定</div>
            </form>
        </div>
    </div>

    <!-- 账户编辑 -->
    <div class="add_Account dn" id="user_column">
        <div class="add_Account_c">
            <div class="add_Account_h">
                <div class="add_Account_h_in">
                    编辑账户
                    <span class="fr add_Account_close"><img src="../images/close.png"></span>
                </div>
            </div>
            <div class="column_now ">正在编辑 “<span>jiaowuchu</span>”账户</div>
            <div class="user_name user_i">
                <label>用户名</label> <input type="text" id="edit_account_by_user_name" placeholder="输入用户名" name="">
            </div>
            <div class="user_password user_i">
                <label>密<i>调</i>码</label> <input type="password" id="edit_account_by_user_password" placeholder="输入密码" name="">
            </div>
            <div class="add_Account_ok_btn text_center" id="user_column_ok_btn">确<i>皮</i>定</div>
        </div>
    </div>

    <!-- 删除账户 -->
    <div class="add_Account dn" id="delete_Account">
        <div class="add_Account_c">
            <div class="add_Account_h">
                <div class="add_Account_h_in">
                    删除账户
                    <span class="fr add_Account_close"><img src="../images/close.png"></span>
                </div>
            </div>
            <div class="delete_text">确定删除“ <span id="delete_user_name_view">jiaopwuchu</span> ”账户吗？</div>
            <div class="add_Account_ok_btn text_center" id="delete_Account_ok_btn">确<i>皮</i>定</div>
        </div>
    </div>

    <!-- 账户授权 -->
    <div class="add_Account dn" id="ac_Account">
        <div class="add_Account_c">
            <div class="add_Account_h">
                <div class="add_Account_h_in">
                    账户栏目授权
                    <span class="fr add_Account_close"><img src="../images/close.png"></span>
                </div>
            </div>
            <ul>

                <li th:each="classify : ${classifys}"><label><input type="checkbox" th:value="${classify.id}" name="classifyId">&nbsp;<span th:text="${classify.classifyName}"></span></label></li>
            </ul>
            <div class="add_Account_ok_btn text_center" id="ac_Account_ok_btn">保<i>呀</i>存</div>
        </div>
    </div>
    
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
<script>
    $(document).ready(function () {
        var cent = "[[${gotoPageStaticHTML}]]";
        //$(".fenye").append(cent);

    });
    //用户授权数据提交
    $("#ac_Account_ok_btn").click(function () {
        var user_id = $("#user_id_edit").val();
        if(user_id.length==0){
            alert("请选择一个用户！");
        }else{
            var classifyId = [];
            $("input[name='classifyId']:checked").each(function (i) {
                classifyId[i] = $(this).val();
            });
            $.ajax({
                type:"post",
                url:"/admin/getauthorization.htm",
                dataType:"json",
                data:{
                    "user_id":user_id,
                    "classifys":classifyId
                },success:function (data) {
                    console.log(data);
                    //var res = eval("("+data+")");
                    if(data.status==1){
                        //alert("授权成功");
                        console.log(data.obj);
                        var str = "";
                        for(var i=0;i<data.obj.length;i++){
                            str+=("<label>"+data.obj[i]+"</label>");
                        }
                        $("ul[name='"+user_id+"']").children(".b60").children("label").remove();
                        $("ul[name='"+user_id+"']").children(".b60").append(str);
                    }else{
                        alert("服务期繁忙请稍后再试！");
                    }
                }
            });
            $("#ac_Account").fadeOut(100);
        }
    });
    //删除数据提交
    $("#delete_Account_ok_btn").click(function(){
        var user_id = $("#user_id_edit").val();
        if(user_id.length==0){
            alert("请选择一个用户删除！");
        }else{
            $.ajax({
                type:"POST",
                url:"/admin/delete_user.htm",
                data:{
                    "userId":user_id
                },success:function (data) {
                    var res = eval("("+data+")");
                    if(res.status == 1){
                        $("#user_id_edit").val("");
                        $("ul[name='"+user_id+"']").remove();
                    }else if(res.status == 2){
                        alert("删除失败！");
                    }
                }
            });
        }
        $("#delete_Account").fadeOut(100);

    })
    $(document).ready(function () {
        $(".account_change").click(function () {
            check(this);
        });
    });
    //勾选用户
    function check(then){
        var account_id = $(then).parent().children(".user_id").val();
        $("#user_id_edit").val(account_id);
        $("#user_name_edit").val($(then).parent().children(".account_name").html());
        $("input[class='account_change']").removeAttr("checked");
        $(then).attr("checked","true");
    }

    //添加用户数据提交
    $(document).ready(function () {
        $("#add_Account_ok_btn").click(function () {

            var username = $("#add_userName").val();
            var password = $("#add_password").val();
           // var addr = "[[${webPath}]]";
            var addr = "[[${webPath}]]";
            if(username.length<=0){
                $("#add_userName_prompt").text("请输入用户名！");
            }else if(password.length<=0){
                $("#add_password_prompt").text("请输入密码！");
            }else{
                var add = "[[${webPath}]]";
                $.ajax({
                    type:'POST',
                    url:"/admin/add_user.htm",
                    data:{
                     "userName":username,
                     "password":password
                    },success:function (data) {
                        var res = eval("("+data+")");
                        alert(res);
                        if(res.status==1){
                            $(".add_Account_close").click();
                            var ele = "<ul class='list_b' name='"+res.user.id+"'><li class='b20'><label><input type='hidden'  class='user_id' value='"+res.user.id+"'>"+
                                "<input type='checkbox' onclick='check(this);' class='account_change' name=''><span class='account_name'>"+username+"</span></label></li>" +
                                "<li class='b20'><label>****</label></li><li class='b60'><label></label></li></ul>"
                                $(".list").append(ele);
                                //alert($(".list").html());
                            //alert("添加成功！");
                        }else if(res.status==2) {
                           // window.location.href = "/login.htm";
                            alert("请前去登录！");
                        }else if(res.status==3){
                            alert("用户名和密码不能为null");
                        }else if(res.status==4){
                            alert("当前用户已经存在！");
                        }
                    },error:function () {
                        alert("系统繁忙请稍后再试！");
                    }
                });
            }
        });
        $("#add_userName").blur(function () {
            $("#add_userName_prompt").text("");
        });
        $("#add_password").blur(function () {
            $("#add_userName_prompt").text("");
        });


    });


    // 弹窗   all
    // z账户管理 -
    // 添加账户
    $("#add_Account_btn").click(function(){
        $("#add_Account").fadeIn(100);
    })
    $(".add_Account_close").click(function(){
        $("#add_Account").fadeOut(100);
        $("#user_column").fadeOut(100);
        $("#delete_Account").fadeOut(100);
        $("#ac_Account").fadeOut(100);
        $("#add_column").fadeOut(100);
        $("#edit_column").fadeOut(100);
        $("#delete_column").fadeOut(100);
    })
    // 编辑账户
    $("#edit_Account_btn").click(function(){
        var user_name = $("#user_name_edit").val();
        $("#edit_account_by_user_name").val(user_name);
        var user_id = $("#user_id_edit").val();
        if(user_id.length == 0){
            alert("请勾选一个用户！");
        }else {
            $("#user_column").fadeIn(100);
        }
    })
    //删除账户
    $("#delete_Account_btn").click(function(){
        var user_id = $("#user_id_edit").val();
        if(user_id.length == 0){
            alert("请勾选一个用户！");
        }else {
            var user_name = $("#user_name_edit").val();
            $("#delete_user_name_view").html(user_name);
            $("#delete_Account").fadeIn(100);
        }
    })
    // 用户授权  显示授权栏目
    $("#ac_Account_btn").click(function(){
        var user_id = $("#user_id_edit").val();
        if(user_id.length == 0){
            alert("请勾选一个用户！");
        }else {
            $.ajax({
                type:"post",
                url:"/admin/user_classify.htm",
                data:{
                    "user_id":user_id
                },success:function (data) {
                    var res = eval("("+data+")");
                    if(res.status==1){
                        for (var i=0;i<res.classifys.length;i++){
                            $("input[value='"+res.classifys[i]+"']").attr("checked","true");
                        }
                    }else if(res.status == 2){
                        alert("服务器繁忙请稍后再试！");
                    }
                }
            });
            $("#ac_Account").fadeIn(100);
        }
    });
    //编辑账户数据提交
    $("#user_column_ok_btn").click(function(){
        var user_id = $("#user_id_edit").val();
        var user_userName = $("#edit_account_by_user_name").val();
        var user_password = $("#edit_account_by_user_password").val();
        if(user_id.length == 0){
            alert("请勾选一个用户！");
        }else {
            $.ajax({
                type: 'POST',
                url: '/admin/edit_user.htm',
                data: {
                    "user_id": user_id,
                    "user_name": user_userName,
                    "user_password": user_password
                }, success: function (date) {
                    var res = eval("(" + date + ")");
                    console.log(res.status);
                    if (res.status == 1) {
                        //alert("用户修改成功！");
                        $("#user_column").fadeOut(100);
                    } else if (res.status == 5) {
                        alert("用户名重复，请换一个试试！");
                    }
                }
            });
        }
    })

</script>
</html>