<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>新闻发布管理平台 </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="css/main.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>
<script>
    var name = "[[${user.userName}]]";
    var webPath = "[[${webPath}]]";
    if(name == "admin"){
        $("iframe").attr("src",webPath+"/admin/accountManagement.htm");
    }else{
        $("iframe").attr("src",webPath+"/admin/newsManagement.htm");
    }
</script>
<div class="header">
        <div class="header_in">
            <img src="images/tit.png">
            <div class="quit text_center">安全退出</div>
        </div>

    </div>

    <div class="content ">
        <div class="user">
            <div class="user_status fl text_center">当前用户： <span>管理员001</span></div>
            <div class="user_location fl">当前： 首页-<span>账户管理</span>  </div>
        </div>
        <div class="nav_side text_center fl">
            <div th:if="${user.userName} eq 'admin'" class="nav AccountManagement active">账户管理</div>
            <div th:if="${user.userName} eq 'admin'" class="nav ColumnManagement">栏目管理</div>
            <div class="nav NewsManagement">新闻管理</th:value></div>
        </div>


        <div class="main_fx">

            <div class="AccountManagement_c_iframe">
                <iframe src="/admin/newsManagement.htm"></iframe>
            </div>

        </div>




    </div>





</body>
<!--<script type="text/javascript" src="js/main.js"></script>-->
<script>
    var addr = "[[${webPath}]]";


    $(function(){


        // 适配
        // iframe
        $(".AccountManagement_c_iframe").css("height",$(document).height());
        // 导航高度
        $(".nav_side").css("height",$(document).height()-100);

        // iframe  链接
        $(".AccountManagement").click(function(){
            $(".AccountManagement_c_iframe iframe").attr("src",addr+"/admin/accountManagement.htm")
        })
        $(".ColumnManagement").click(function(){
            $(".AccountManagement_c_iframe iframe").attr("src",addr+"/admin/columnManagement.htm")
        })
        $(".NewsManagement").click(function(){
            $(".AccountManagement_c_iframe iframe").attr("src",addr+"/admin/newsManagement.htm")
        })


        // pull page   翻页
        $(".pull_page ul li").click(function(){
            var index =$(this).index();
            if( $(this).hasClass("pull_page_df_btn")){
                return;
            }
            $(this).addClass("on").siblings().removeClass("on");

        })

        // nav
        $(".nav_side>div").click(function(){
            var index = $(this).index();
            $(this).addClass("active").siblings().removeClass("active");
            $(".main_fx>div").eq(index).show().siblings().hide();
            if( index == 0 ){
                $(".user_location span").text("账户管理");
            }else if( index == 1){
                $(".user_location span").text("栏目管理");
            }else if( index == 2){
                $(".user_location span").text("新闻管理");
            }
        })

        // 弹窗   all
        // z账户管理 -
        // 添加账户
        $("#add_Account_btn").click(function(){
            alert("asd");
            $("#add_Account").fadeIn(100);
        })
        $(".add_Account_close").click(function(){
            $("#add_Account").fadeOut(100);
            $("#user_column").fadeOut(100);
            $("#delete_Account").fadeOut(100);
            $("#ac_Account").fadeOut(100);
            $("#add_column").fadeOut(100);
            $("#edit_column").fadeOut(100);
            $("#delete_column").fadeOut(100);
        })
        // 编辑账户
        $("#edit_Account_btn").click(function(){
            $("#user_column").fadeIn(100);
        })
        //删除账户
        $("#delete_Account_btn").click(function(){
            $("#delete_Account").fadeIn(100);
        })
        // 编辑账户
        $("#ac_Account_btn").click(function(){
            $("#ac_Account").fadeIn(100);
        })


        // 栏目管理 -
        $("#add_column_btn").click(function(){
            $("#add_column").fadeIn(100);
        })
        // 编辑栏目
        $("#edit_column_btn").click(function(){
            $("#edit_column").fadeIn(100);
        })
        // 删除栏目
        $("#delete_column_btn").click(function(){
            $("#delete_column").fadeIn(100);
        })

        // 确定 btn
        $("#add_Account_ok_btn").click(function(){
            $("#add_Account").fadeOut(100);
        })
        $("#user_column_ok_btn").click(function(){
            $("#user_column").fadeOut(100);
        })
        $("#delete_Account_ok_btn").click(function(){
            $("#delete_Account").fadeOut(100);
        })
        $("#ac_Account_ok_btn").click(function(){
            $("#ac_Account").fadeOut(100);
        })
        $("#add_column_ok_btn").click(function(){
            $("#add_column ").fadeOut(100);
        })
        $("#edit_column_ok_btn").click(function(){
            $("#edit_column ").fadeOut(100);
        })

        $("#delete_column_ok_btn").click(function(){
            $("#delete_column").fadeOut(100);
        })


    })
</script>
</html>